<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ngosignup.css">
    <title>NGO Sign-in</title>
</head>
<body>
    <div class="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Welcome Back!</h1>
                <h3>Feed a soul today!</h3>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password"/>
                <button>Sign-in</button>
            </form>
        </div>
</body>
</html>