<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ngosignup.css">
    <title>NGO Sign-in</title>
</head>
<body>
    <div class="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Create Account</h1>

                <h3>Sign up as a Donater</h3>            
                <input type="text" placeholder="Name" />
                <input type="phone" placeholder="Phone" />
                <input type="email" placeholder="Email" />
                <select id="Zone" name="Zone" required>
                    <option value="Haveli">Haveli</option>
                    <option value="Mulshi">Mulshi</option>
                    <option value="Maval">Maval</option>
                    <option value="Baramati">Baramati</option>
                    <option value="Indapur">Indapur</option>
                </select>
                <input type="password" placeholder="Password"/>
                <button>Sign Up</button>
            </form>
        </div>
</body>
</html>